{{> header}}
<header>
  <h1><a href="/">{{ page.title }}</a></h1>
</header>
<section>
  
<div class="content">
  <div id="post">
    <h1>{{ page.title }}</h1>
    {{{ content }}}
  </div>
</div>
{{> footer}}